
@import "~@angular/material/_theming";

@include mat-core();

$brief-app-primary: mat-palette($mat-orange, 900);
$brief-app-accent: mat-palette($mat-yellow, 700);
$brief-app-warn: mat-palette($mat-red);

$brief-app-theme: mat-light-theme($brief-app-primary, $brief-app-accent, $brief-app-warn);

@include angular-material-theme($brief-app-theme);